In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
airport_file = "Resources/airports.csv"
airport_file = pd.read_csv(airport_file)
airport_file_us = airport_file[(airport_file["Country"] == "United States")]
airport_file_us.head()

,Airport ID,Name,City,Country,IATA,ICAO,Latitude,Longitude,Altitude,Timezone,DST,Tz database time zone,Type,Source
3212,3411,Barter Island LRRS Airport,Barter Island,United States,BTI,PABA,70.134003,-143.582001,2,-9,A,America/Anchorage,airport,OurAirports
3213,3412,Wainwright Air Station,Fort Wainwright,United States,\N,PAWT,70.613403,-159.860001,35,-9,A,America/Anchorage,airport,OurAirports
3214,3413,Cape Lisburne LRRS Airport,Cape Lisburne,United States,LUR,PALU,68.875099,-166.110001,16,-9,A,America/Anchorage,airport,OurAirports
3215,3414,Point Lay LRRS Airport,Point Lay,United States,PIZ,PPIZ,69.732903,-163.005005,22,-9,A,America/Anchorage,airport,OurAirports
3216,3415,Hilo International Airport,Hilo,United States,ITO,PHTO,19.721399,-155.048004,38,-10,N,Pacific/Honolulu,airport,OurAirports

In [3]:
airport_file_us.columns

Index(['Airport ID', 'Name', 'City', 'Country', 'IATA', 'ICAO', 'Latitude',
       'Longitude', 'Altitude', 'Timezone', 'DST', 'Tz database time zone',
       'Type', 'Source'],
      dtype='object')

In [4]:
us_airports_cols =['Name', 'Airport ID', 'City', 'IATA', 'ICAO', 'Timezone']
us_airports_df = airport_file_us[us_airports_cols]
us_airports_df = us_airports_df.rename(columns={'Airport ID': 'airport_id', 
                                                'Name': 'airport_name', 
                                                'City': 'city', 
                                                'IATA': 'iata', 
                                                'ICAO': 'icao', 
                                                'Timezone': 'timezone'})
us_airports_df.set_index("icao", inplace=True)
us_airports_df.head()

                    airport_name  airport_id             city iata timezone
icao
PABA  Barter Island LRRS Airport        3411    Barter Island  BTI       -9
PAWT      Wainwright Air Station        3412  Fort Wainwright   \N       -9
PALU  Cape Lisburne LRRS Airport        3413    Cape Lisburne  LUR       -9
PPIZ      Point Lay LRRS Airport        3414        Point Lay  PIZ       -9
PHTO  Hilo International Airport        3415             Hilo  ITO      -10

In [5]:
connection_string = "postgres:abc132Xy&z@localhost:5432/ETL-Project"
engine = create_engine(f'postgresql://{connection_string}')

ModuleNotFoundError: No module named 'psycopg2'

In [ ]:
engine.table_name()